# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Downloaded/setup binaries
setup/aws-iam-authenticator

# Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS/editor
.DS_Store
.vscode/
.idea/
